*{
	box-sizing: border-box;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.cf{clear: both;}
.tc{text-align: center;}
.fw{float: left; width: 100%;}
.mb15{margin-bottom: 15px;}
.bs{
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);
}
body{
	padding: 0;
	margin: 30px;
	width: 350px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

	background-image: url('../images/bg.jpg');
	background-size: inherit;
	background-repeat: no-repeat;
	background-position: center;
}
body.searching{min-height: 200px;}

.loading{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.7);
	text-align: center;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 9;
}


.content{
	width: 100%;
	height: 100%;
	padding: 15px;
}

.title{
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	margin-bottom: 5px;
	background-color: rgba(0,0,0,.5);
	border-radius: 3px;
	width: fit-content;
	margin:0 auto;
	margin-bottom: 5px;
}


.a{
	display:inline-block;
	position: relative;
	word-wrap: break-word;
	padding: 15px;
	color: #fff;

	transform: scale(.9);
	opacity: .8;
}
	.a.net{
		border-radius: 7px;
		transform: scale(1);
		opacity: 1;
	  -webkit-filter: blur(0px);
	  -moz-filter: blur(0px);
	  -o-filter: blur(0px);
	  -ms-filter: blur(0px);
	  filter: blur(0px);
		-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.39);
		-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.39);
		box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.39);
	}
	.a .title:hover{
		cursor: pointer;
	}


.current{
	border-radius: 7px 7px 0 0;
	transform-origin: center bottom;
	background: rgb(41,163,219);
	background: -moz-linear-gradient(top, rgba(41,163,219,1) 1%, rgba(62,209,140,1) 100%);
	background: -webkit-linear-gradient(top, rgba(41,163,219,1) 1%,rgba(62,209,140,1) 100%);
	background: linear-gradient(to bottom, rgba(41,163,219,1) 1%,rgba(62,209,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a3db', endColorstr='#3ed18c',GradientType=0 );
}
	.current .url{
		font-size: 12px;
	}

.new{
	border-radius: 0 0 7px 7px;
	transform-origin: center top;
	background: rgb(155,45,239);
	background: -moz-linear-gradient(top, rgba(155,45,239,1) 0%, rgba(58,116,196,1) 100%);
	background: -webkit-linear-gradient(top, rgba(155,45,239,1) 0%,rgba(58,116,196,1) 100%);
	background: linear-gradient(to bottom, rgba(155,45,239,1) 0%,rgba(58,116,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b2def', endColorstr='#3a74c4',GradientType=0 );
}
	.new input{
		width: 100%;
		padding: 10px;
		border: none;
		outline: none;
		border-radius: 3px;
		color: #4d00ff;
		font-weight: bold;
	}
	input::-webkit-input-placeholder {
	  color: #949494;
	  font-weight: 100;
	}
	input::-moz-placeholder {
	  color: #949494;
	  font-weight: 100;
	}
	input:-ms-input-placeholder {
	  color: #949494;
	  font-weight: 100;
	}
	input:-moz-placeholder {
	  color: #949494;
	  font-weight: 100;
	}

.result{
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	color: #fff;
	transform-origin: center top;
	background: #fff;
	text-align: center;
	z-index: 9;
}
	.result span{
		color: #000;
		font-size: 15px;
	}